<nav class="navbar navbar-bjs navbar-fixed-top">
	<div id="notification"></div>
	<div class="container-fluid">
		<div class="navbar-header">
			<a class="navbar-brand" href="/">{{vm.title}}</a>
		</div>
		<div id="navbar" class="navbar-collapse collapse">
			<ul class="nav navbar-nav navbar-right">
				<li><a href="/home"><span class="icon-head"> </span>Home</a></li>
				<li><a href="/what-we-offer">What We Offer</a></li>
				<li><a href="/contact">Contact</a></li>
			</ul>
		</div>
	</div>
</nav>
